.inputRow {
  display: grid;
  grid-template-columns: 24px 1fr 100px;
  border: 1px solid rgb(215, 200, 200);
  border-radius: 5px;
}

.inputRow > div {
  margin: 5px;
}

.inputRow > div:nth-child(1) {
  border-collapse: collapse;
  border-radius: 5px 0 0 5px;
  margin: 0;
}

.inputRow > div:nth-child(3) {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
/* 
.inputRow > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.inputRow > div:nth-child(2) > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

.closedColor {
  background-color: green;
}

.openColor {
  background-color: orange;
}

.expiredColor {
  background-color: red;
}
