body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0px;

  font-size: 15px;
  background-color: #f6f4eb;
}

.font-title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  background-color: #ffffff;
  gap: 8px;
}

.monthlySummaryContainer {
  gap: 10px;
  margin-bottom: 10px;
}

.monthlySummaryValues {
  display: grid;
  grid-template-columns: 25px 1fr 12px 8px 20px;
  align-items: center;
  margin-bottom: 8px;
}

.monthlySummaryBar {
  height: 10px;
  border: 1px solid none;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  background-color: #eae9fb;
}

.inactiveBar {
  background-color: #abaab0;
  border: 1px solid #eae9fb;
  border-radius: 4px;
}

.incomeBar {
  background-color: #59ce8f;
  border: 1px solid #eae9fb;
  border-radius: 4px;
}

.expenseBar {
  background-color: #f37878;
  border: 1px solid #eae9fb;
  border-radius: 4px;
}

.monthlyInputContainer {
  display: grid;
  grid-template-columns: 25px 100px 1fr 100px;
  align-items: center;
  border-width: 0 0 1px 0;
  border-color: black;
  border-style: solid;
}

.amount {
  display: grid;
  grid-template-columns: 1fr 20px;
  align-items: center;
  text-align: right;
  gap: 5px;
}

.textAlign-right {
  text-align: right;
}

.textAlign-center {
  text-align: center;
}
