body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0px;
  font-size: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid gray;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.container > * {
  display: grid;
  gap: 10px;
}

.font-header {
  font-size: 18px;
  font-weight: 500;
}

.monthlySummaryValues {
  display: grid;
  grid-template-columns: 25px 1fr 12px 8px 20px;
  align-items: center;
}

.monthlySummaryBar {
  height: 10px;
  border: 1px solid none;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  background-color: #eae9fb;
}

.inactiveBar {
  background-color: #abaab0;
  border: 1px solid #eae9fb;
  border-radius: 4px;
}

.incomeBar {
  background-color: #59ce8f;
  border: 1px solid #eae9fb;
  border-radius: 4px;
}

.expenseBar {
  background-color: #b31312;
  border: 1px solid #eae9fb;
  border-radius: 4px;
}

.monthlyInputContainer {
  display: grid;
  grid-template-columns: 50px 50px 1fr 1fr;
}
