:root {
  --yy-border-radius: 0.375rem;
  --yy-border-radius-1: 0.2rem;

  --yy-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --yy-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --yy-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --yy-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);

  --yy-border-width: 1px;
  --yy-border-style: solid;
  --yy-border-color: #dee2e6;
}

body {
  background-color: #eeeeee;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  border-collapse: collapse;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.card {
  background-color: white !important;
}

.active-marker {
  background-color: #008dda;
  width: 15px;
}

.passive-marker {
  background-color: #9cafaa;
  width: 8px;
}

.expense-red {
  color: #b31312;
}

/* .borders */

.shadow {
  box-shadow: var(--yy-box-shadow-sm) !important;
}

.rounded {
  border-radius: var(--yy-border-radius) !important;
}

.rounded-left-1 {
  border-top-left-radius: var(--yy-border-radius-1) !important;
  border-bottom-left-radius: var(--yy-border-radius-1) !important;
}

.rounded-left {
  border-top-left-radius: var(--yy-border-radius) !important;
  border-bottom-left-radius: var(--yy-border-radius) !important;
}

.border-bottom {
  border-bottom: var(--yy-border-width) var(--yy-border-style)
    var(--yy-border-color) !important;
}

.border-top {
  border-top: var(--yy-border-width) var(--yy-border-style)
    var(--yy-border-color) !important;
}

.border-left {
  border-left: var(--yy-border-width) var(--yy-border-style)
    var(--yy-border-color) !important;
}

.border-right {
  border-right: var(--yy-border-width) var(--yy-border-style)
    var(--yy-border-color) !important;
}
/* margin & padding */

.g-1 {
  gap: 0.25rem !important;
}

.g-2 {
  gap: 0.5rem !important;
}

.g-3 {
  gap: 1rem !important;
}

.m-1 {
  margin: 0.25rem !important;
}
.mb-1 {
  margin-bottom: 0.25rem !important;
}
.mt-1 {
  margin-top: 0.25rem !important;
}
.ml-1 {
  margin-left: 0.25rem !important;
}
.mr-1 {
  margin-right: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}
.mt-2 {
  margin-top: 0.5rem !important;
}
.ml-2 {
  margin-left: 0.5rem !important;
}
.mr-2 {
  margin-right: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}
.mt-3 {
  margin-top: 1rem !important;
}
.ml-3 {
  margin-left: 1rem !important;
}
.mr-3 {
  margin-right: 1rem !important;
}

.p-1 {
  padding: 0.25rem !important;
}
.pb-1 {
  padding-bottom: 0.25rem !important;
}
.pt-1 {
  padding-top: 0.25rem !important;
}
.pl-1 {
  padding-left: 0.25rem !important;
}
.pr-1 {
  padding-right: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}
.pb-2 {
  padding-bottom: 0.5rem !important;
}
.pt-2 {
  padding-top: 0.5rem !important;
}
.pl-2 {
  padding-left: 0.5rem !important;
}
.pr-2 {
  padding-right: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}
.pt-3 {
  padding-top: 1rem !important;
}
.pl-3 {
  padding-left: 1rem !important;
}
.pr-3 {
  padding-right: 1rem !important;
}

.h-1 {
  height: 0.25rem !important;
}

.h-2 {
  height: 0.5rem !important;
}

.h-3 {
  height: 1rem !important;
}

/* .font- */
.font-text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.font-light-sub-text {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: rgba(33, 37, 41, 0.75);
}

.font-header {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}

/* alignment */

.w-100 {
  width: 100% !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-bottom {
  align-items: baseline !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.flex {
  display: flex !important;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.w-min80 {
  min-width: 80px;
}

.circle {
  border: var(--yy-border-width) var(--yy-border-style) var(--yy-border-color);
  width: 16px;
  height: 16px;
  border-radius: 8px;
}
